._vaz{margin-bottom:10px}._vaz>._va-{height:auto}
.sp_XTpjsSLY6-r{background-image:url(/rsrc.php/v3/yT/r/lPFjXNaHXJk.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_XTpjsSLY6-r.sx_170f0e{background-position:0 0}.sp_XTpjsSLY6-r.sx_150caa{width:16px;height:16px;background-position:0 -25px}

#bootloader_o4KgB{height:42px;}.bootloader_o4KgB{display:block!important;}