._2hbo ._54ni{height:36px}._2hbo ._54nc{height:100%}._2hbo ._54nh{line-height:36px}._2hbo ._54nd._54ne ._54nc{background-position:0 12px}._2hbo ._54nd ._54nc{background-position:0 12px}._2hbo ._54ni._54ne ._54nc{background-color:#ecf3ff;border-color:transparent;color:#1c1e21}
._13xs .fbTimelineStickyHeader{top:40px}

#bootloader_hCzt1{height:42px;}.bootloader_hCzt1{display:block!important;}