.otherActive~._28r-{pointer-events:auto}
._20nn{left:-1px;top:0}._1g8y{left:0;top:0}._20no{left:-3px;top:0}
._agk{margin-right:3px;max-height:16px;max-width:16px;vertical-align:-2.9px}

#bootloader_cP5Ci{height:42px;}.bootloader_cP5Ci{display:block!important;}